$yellow: #FFE600;
$black: #333;
$dark-gray: #666;
$gray: #999;
$light-gray: #EEE;
$white: #FFF;

$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10: 83.33%;
$col-11: 91.66%;
$col-12: 100%;

$separator-size-1: 16px;
$separator-size-2: 32px;

$font-size-x-large: 24px;
$font-size-large: 18px;
$font-size-medium: 14px;
$font-size-small: 12px;

$font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
