@import "../../styles/theme";

section.wrapper {
  width: $col-10;
  margin-right: auto;
  margin-left: auto;

  background: #fff;
}

header.header {
  padding-top: 10px;
  padding-right: $col-1;
  padding-bottom: 10px;
  padding-left: $col-1;

  background: $yellow;
}

nav.nav {
  width: $col-10;
  margin: $margin-size-1 $col-1;
}
